.header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px;
  &__title {

  }
  &__auth {
    display: flex;
    align-items: center;
  }
  &__profile {
    &-info {
      display: flex;
      align-items: center;
    }
    &-name {
      margin: 0;
      margin-right: 15px;
    }
    &-img {
      margin-right: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: url('https://source.unsplash.com/random/50x50');
    }
  }
  &__create-article {
    color: black;
    border-radius: 5px;
    margin-right: 15px;
    height: 100%;
    border: 1px solid transparent;
    padding: 5px 10px;
    &.active {
      color: rgba(82, 196, 26, 1);
      border: 1px solid rgba(82, 196, 26, 1);
    }
    &:hover {
      cursor: pointer;
      color: rgba(82, 196, 26, 1);
      border: 1px solid rgba(82, 196, 26, 1);
    }
  }
  &__log-out {
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    &:hover {
      cursor: pointer;
      border: 1px solid black;
    }
  }
  &__log-out:hover {
    color: black;
    border: 1px solid black;
  }
  &__sign-in,
  &__sign-up {
    &.active {
      color: rgba(82, 196, 26, 1);
      border: 1px solid rgba(82, 196, 26, 1);
    }
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    border: 1px solid transparent;
  }
  &__sign-up:hover,
  &__sign-in:hover {
    color: rgba(82, 196, 26, 1);
    border: 1px solid rgba(82, 196, 26, 1);
  }
}